<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Sentimento - Predição</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Inserir Texto para Predição</h1>
        <form action="/predict" method="post">
            <label for="review">Insira o seu comentário (em inglês):</label><br>
            <textarea id="review" name="review" rows="4" cols="50"></textarea><br><br>
            <button type="submit">Analisar Sentimento</button>
        </form>
    </div>
</body>
</html>

